<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="5" />
    <meta charset="UTF-8">
    <title>Intruder Alert System</title>
</head>

<body>
    <h1>Dashboard - Intruder Alert System</h1>
        <form action="/system_reset" method="POST">
            <label>System Reset</label>
            <input type="submit" value="Reset" />
        </form>
        </br>
        Intruder Status              : {{data_value['field1']}}</br> 
        Time Intruder identified     : {{data_value['field2']}}</br> 
        Distance Intruder identified : {{data_value['field3']}}</br> 
        System Reset Status          : {{system_value['field1']}}</br> 
        Last system reset time       : {{system_value['field2']}}</br> 
    </body>
</html>